<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/weather.png">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="about-content">
            <p class="lead">Weather App is a website which tell the weather forecast of the searched location. It uses
                data from mapbox.com to fetch coordinates of the most relevant searched location and darksky.net
                to fetch the data about weather conditions on the basis of coordinates.
            </p>

            <img class="potrait" src="./img/robot.png" alt="robot" />
        </div>
    </div>

    {{>footer}}
</body>

</html>