<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>

    <div class="main-content">
        {{>header}}
        <div class="content">
            <p class="lead">Get the latest Temperature details</p>

            <form class="weather-form">
                <input class="input-group" type="text" placeholder="Location">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>

            <p class="lead" id="message"></p>


        </div>
    </div>
    {{>footer}}
    <script src="./js/app.js"></script>

</body>

</html>