<header>
    <nav class="navbar">
        <div class="container">

            <h3>Weather App</h3>
            <ul>
                <li><a href="/">Weather</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/help">Help </a></li>
            </ul>
        </div>
    </nav>
</header>